*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 2000px) {
  html {
    font-size: 90%;
  }
}
@media only screen and (max-width: 1170px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 420px) {
  html {
    font-size: 40%;
  }
}

@font-face {
  font-family: "David";
  src: url("/fonts/david.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AdobeClean";
  src: url("/fonts/AdobeCleanUXRegular.otf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: SourceSansPro;
  font-weight: 400;
  color: rgb(102, 102, 102);
  line-height: 113%;
  font-size: 1.6rem;
  background-color: rgb(255, 253, 253);
}

.container {
  display: grid;
  grid-template-rows: 74rem 59.4rem 148.4rem 130rem 94.8rem 17.1rem;
  grid-template-columns: [full-start] minmax(7rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(7rem, 1fr) [full-end];
}

.header {
  padding-left: 5.84vw;
  padding-right: 4vw;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 22% 15% 35% 28%;
  background: linear-gradient(105.82deg, rgba(0, 0, 0, 0.4) 18.37%, rgba(102, 102, 102, 0.4) 34.49%, rgba(102, 102, 102, 0.4) 47.93%, rgba(102, 102, 102, 0.4) 71.97%, rgba(0, 0, 0, 0.4) 84.65%), url(../img/header-background.png) center/cover no-repeat;
  background-position: right center;
  overflow: hidden;
}
.header__btn {
  grid-row: 4/-1;
  grid-column: 1/18;
  margin-top: 0.5rem;
  width: 31rem;
  height: 4.7rem;
}

.logo__big {
  padding-top: 3.6vh;
  grid-row: 1/2;
  grid-column: 1/2;
  display: block;
  translate: 0 2vw;
  width: 100%;
}
.logo__img {
  width: 200%;
}

.title {
  grid-row: 3/4;
  grid-column: 1/7;
  margin-top: 1rem;
}

.nav {
  padding-top: 6.3rem;
  grid-row: 1/2;
  grid-column: 2/10;
}
.nav__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  justify-items: center;
  gap: 0;
}
.nav__link:link, .nav__link:visited {
  font-size: 2rem;
  font-weight: 400;
  color: rgb(255, 253, 253);
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  display: inline-block;
}
.nav__link:hover, .nav__link:active {
  color: rgb(214, 166, 43);
  transform: translateY(-0.3rem);
}

.contacts {
  grid-row: 2/3;
  grid-column: 8/-1;
  display: grid;
  padding-left: 30%;
  grid-template-rows: repeat(auto-fit, 1fr);
  font-family: AdobeClean;
  justify-items: end;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.4rem;
  color: rgb(255, 253, 253);
  width: 28rem;
  gap: 0.8rem;
}
.contacts__phone {
  width: 22.4rem;
  padding: 0.4rem 2.24rem;
  text-align: right;
  background: rgb(255, 253, 253);
  border-radius: 2rem;
}
.contacts__link:link, .contacts__link:visited {
  display: inline-block;
  text-decoration: none;
  color: rgb(214, 166, 43);
}
.contacts__link_email:link, .contacts__link_email:visited {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 253, 253);
}

.boss {
  grid-row: 4/-1;
  grid-column: 5/-1;
  font-family: David, system-ui, -apple-system, sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.8rem;
  padding-top: 8%;
  padding-left: 30%;
  text-align: center;
}
.boss__name {
  color: rgb(214, 166, 43);
  text-shadow: 0px 0.1rem 0.1rem rgb(255, 253, 253);
}
.boss__job-title {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.84rem;
  color: rgb(255, 253, 253);
}

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8%;
  background-color: rgb(255, 253, 253);
  grid-column: center-start/center-end;
  padding: 7.5% 2% 8% 2%;
}

.advantages-card {
  background-color: rgb(245, 245, 245);
  display: grid;
  text-align: center;
  padding: 5rem 2.7rem 2.7rem 2.7rem;
  box-shadow: 0px 0.4rem 0.4rem 0px rgba(102, 102, 102, 0.3);
  transition: 0.2s all;
  grid-template-rows: 55% 20% 25%;
}
.advantages-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.advantages-card__icon-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.advantages-card__icon-div_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 11rem;
  background-color: rgb(241, 241, 241);
  border-radius: 50%;
}
.advantages-card__icon-div_icon {
  width: 68%;
}

.services {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 13% repeat(3, minmax(10rem, 1fr));
  background: linear-gradient(180deg, rgba(204, 204, 204, 0.32) 4.77%, rgba(153, 152, 152, 0.4) 100%), url(../img/services-background.png) center/cover no-repeat;
  padding: 6vw;
  padding-right: 9vw;
  gap: 1.2rem 4rem;
}

.div-title {
  grid-row: 1/2;
  grid-column: 1/-1;
}

.services-card {
  padding: 6rem 6rem;
  transition: 0.2s all;
  background: linear-gradient(180deg, rgba(255, 253, 253, 0.7) 1.77%, rgba(204, 204, 204, 0.7) 67.27%, rgba(245, 245, 245, 0.7) 97.27%);
  border-radius: 1rem;
}
.services-card__content {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 5rem 1fr;
  justify-items: left;
  align-items: center;
}
.services-card__icon {
  width: 60%;
  grid-row: 1/2;
  grid-column: 1/2;
}
.services-card__title {
  grid-row: 1/2;
  grid-column: 2/-1;
  letter-spacing: 0.2rem;
}
.services-card__paragraph {
  padding-top: 0.9rem;
  grid-row: 2/3;
  grid-column: 1/-1;
}
.services-card:hover {
  transform: translateY(-1rem) scale(0.98);
}

.work-progress {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 7% 93%;
  background: linear-gradient(180deg, rgba(204, 204, 204, 0.1) 0%, rgba(102, 102, 102, 0.1) 49.01%, rgba(204, 204, 204, 0.08) 100%);
  padding: 7vw;
}
.work-progress__div {
  display: grid;
  background-color: rgba(102, 102, 102, 0.7);
  box-shadow: 0px 0.4rem 0.4rem 0px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 2.5rem 2.5rem;
}
.work-progress__list {
  display: grid;
  list-style: none;
  counter-reset: list-counter 0;
  grid-template-rows: repeat(6, minmax(10rem, 1fr));
}
.work-progress__list li {
  position: relative;
  counter-increment: list-counter;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.work-progress__list li::before {
  position: absolute;
  top: 50%;
  left: 5rem;
  content: counter(list-counter, decimal-leading-zero) " ";
  font-family: AdobeClean;
  font-size: 6rem;
  line-height: 7.2rem;
  font-weight: 400;
  background: linear-gradient(180deg, #FFFFFF 18.27%, #D6A62B 66.77%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transform: translateY(-55%);
}
.work-progress__list li p {
  margin-left: 13rem;
}
.work-progress__list li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  height: 0.3rem;
  width: 83%;
  background-color: rgba(255, 253, 253, 0.8);
  transform: translateX(10%);
}
.work-progress__list li:last-child::after {
  display: none;
}

.reviews {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 7% 62% 31%;
  background: linear-gradient(180deg, rgba(102, 102, 102, 0.5) 16.27%, rgba(255, 253, 253, 0.5) 44.77%, rgba(102, 102, 102, 0.5) 75.27%), url(../img/reviews-background.png) center/cover no-repeat;
  padding: 7vw;
}
.reviews__div {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, minmax(10vw, 1fr));
  gap: 4%;
  padding: 2rem 0 0 2rem;
}
.reviews__view-more {
  padding-top: 5%;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.reviews__view-more-paragraph {
  position: relative;
}
.reviews__view-more-paragraph::after {
  content: "";
  left: -15%;
  position: absolute;
  bottom: -1.5rem;
  height: 0.5rem;
  width: 110%;
  background-color: rgba(102, 102, 102, 0.3);
  transform: translateX(10%);
}
.reviews__btn {
  margin-top: 3%;
  width: 31rem;
  height: 5rem;
}
.reviews__btn a:link, .reviews__btn a:visited {
  text-decoration: none;
  color: rgb(255, 253, 253);
}

.reviews-card {
  background-color: rgb(245, 245, 245);
  display: grid;
  grid-template-rows: 35% 15% 50%;
  box-shadow: 0px 0.4rem 0.4rem 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s all;
  border-radius: 1rem 1rem 0rem 0rem;
  min-height: 44rem;
  min-width: 28rem;
  transition: 0.2s all;
}
.reviews-card:hover {
  transform: translateY(-1rem) scale(1.02);
}
.reviews-card__img {
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.reviews-card__title {
  grid-row: 2/3;
  padding: 2rem 3rem;
  text-align: end;
  align-self: center;
}
.reviews-card__paragraph {
  grid-row: 3/4;
  text-align: start;
  padding: 0 3rem 3rem 3rem;
  align-self: stretch;
}

.footer {
  background-color: rgb(102, 102, 102);
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: 33% 34% 33%;
}
.footer__icons {
  grid-column: 2/3;
  align-content: center;
  justify-content: center;
}

.icon-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.telegram-img {
  width: 2vw;
}

.vk-img {
  width: 3vw;
}

.whatsapp-img {
  width: 3vw;
}

.logo__small {
  grid-column: 1/2;
  margin-left: 7vw;
  align-content: center;
}
.logo__small img {
  width: 55%;
}

.contacts-footer {
  padding-left: 5vw;
  grid-column: 3/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: 4rem 4rem;
  align-content: center;
}

.btn {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  font-family: "SourceSansPro";
  color: rgb(255, 253, 253);
  background-color: rgb(214, 166, 43);
  border: 0;
  padding: 1.4rem 5.6rem;
  border-radius: 2rem;
  box-shadow: 0px 0.4rem 0.4rem 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  color: rgb(214, 166, 43);
  background-color: rgb(255, 253, 253);
  transform: scale(0.95);
}
.btn:active {
  transform: translateY(-0.2rem);
}

.title-header {
  font-family: David, system-ui, -apple-system, sans-serif;
  font-size: 4.8rem;
  line-height: 5.76rem;
  color: rgb(255, 253, 253);
  font-weight: 600;
  text-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.title-advantages {
  font-size: 2.4rem;
  line-height: 3.12rem;
  font-weight: 700;
  color: rgb(102, 102, 102);
}

.card-title {
  font-size: 2.4rem;
  line-height: 3.12rem;
  font-weight: 700;
  color: rgb(214, 166, 43);
}

.card-paragraph {
  font-size: 1.8rem;
  line-height: 2.34rem;
  font-weight: 400;
  color: rgb(102, 102, 102);
}
.card-paragraph_white {
  color: rgb(255, 253, 253);
}

.title-section {
  font-size: 3.2rem;
  line-height: 4.16rem;
  font-weight: 400;
  color: rgb(255, 253, 253);
  letter-spacing: 0.1em;
  text-align: left;
}
.title-section_grey {
  color: rgb(102, 102, 102);
}

.card-services-paragraph {
  font-size: 2.4rem;
  line-height: 3.12rem;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.work-progress-paragraph {
  font-size: 2.4rem;
  line-height: 3.12rem;
  font-weight: 400;
  color: rgb(255, 253, 253);
}

.card-reviews-title {
  line-height: 2.6rem;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(214, 166, 43);
}

.card-reviews-paragraph {
  line-height: 2.6rem;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.mb-sm {
  margin-bottom: 3rem;
}/*# sourceMappingURL=style.css.map */