.advantages
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 1.8%
    background-color: $color-white
    grid-column: center-start / center-end
    padding: 7.5% 2% 8% 2%
    @include respond(phone)
        grid-column: full-start / full-end
        grid-template-rows: repeat(3, 55vw)
        grid-template-columns: 100%
        padding: 13vw 5vw
        justify-content: center
        gap: 8vw


.advantages-card
    background-color: $color-almost-white
    display: grid
    text-align: center
    padding: 5rem 2.7rem 2.7rem 2.7rem
    box-shadow: 0px .4rem .4rem 0px rgba(102, 102, 102, 0.3)
    transition: .2s all
    grid-template-rows: 55% 20% 25%
    &:hover
        transform: translateY(-1.5rem) scale(1.03)
    &__icon-div
        display: flex
        justify-content: center
        align-items: flex-start
        &_container
            display: flex
            justify-content: center
            align-items: center
            width: 11rem
            height: 11rem
            background-color: rgba(241, 241, 241, 1)
            border-radius: 50%
        &_icon
            width: 68% 
    @include respond(phone)
        padding: 4rem
        grid-template-columns: 20% 80%
        grid-template-rows: 1fr 3fr
        gap: 2rem
        align-items: center
        &:hover
            transform: none
        &__icon-div
            display: block
            grid-row: 1 / 2
            grid-column: 1 / 2
            justify-content: start
            &_container
                width: 12vw
                height: 12vw
