.reviews
    grid-column: full-start / full-end
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 7% 62% 31%
    background: linear-gradient(180deg, rgba(102, 102, 102, 0.5) 16.27%, rgba(255, 253, 253, 0.5) 44.77%, rgba(102, 102, 102, 0.5) 75.27%), url(../img/reviews-background.png) center / cover no-repeat
    padding: 7vw
    &__div
        display: grid
        grid-row: 2/3
        grid-template-columns: repeat(3, minmax(20vw, 1fr))
        grid-template-rows: 100%
        gap: 4%
        justify-items: center
        align-items: start
        padding: 2rem
    &__card
        background-color: $color-almost-white
        display: grid
        grid-template-rows: 42.3% 0.15fr 0.40fr
        box-shadow: $box-shadow
        transition: .2s all
        border-radius: 1rem 1rem 0rem 0rem
        min-height: 44rem
        min-width: 38rem
        transition: .2s all
        &:hover
            transform: translateY(-1rem) scale(1.02)
    &__img
        grid-row: 1 / 2
        width: 100%
        height: 100%
        object-fit: cover   
        object-position: center
    &__title
        grid-row: 2 / 3
        padding: 2rem 3rem
        text-align: end
        align-self: center
    &__paragraph
        grid-row: 3 / 4
        text-align: start
        padding: 0 3rem 3rem 3rem
        align-self: stretch
    &__view-more
        grid-row: 3 / 4
        display: grid
        grid-template-rows: repeat(2, 1fr)
        align-items: center
        justify-items: center
        padding-top: 4rem
    &__view-more-paragraph
        position: relative
        &::after
            content: ""
            left: -15%
            position: absolute
            bottom: -1.5rem
            height: .5rem
            width: 110%
            background-color: rgba(102, 102, 102, 0.3)
            transform: translateX(10%)
    &__btn
        width: 31rem
        height: 5rem
    &__btn a
        &:link, &:visited
            text-decoration: none
            color: $color-white