.footer
    background-color: $color-grey
    grid-column: full-start / full-end
    display: grid
    grid-template-columns: 33% 34% 33%
    &__icons
        grid-column: 2/3
        align-content: center
        justify-content: center

.icon-list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    align-items: center
    justify-items: center


.telegram-img
    width: 2vw
.vk-img
    width: 3vw
.whatsapp-img
    width: 3vw

.logo__small
    grid-column: 1/2
    margin-left: 7vw
    align-content: center
    & img
        width: 55%

.contacts-footer
    padding-left: 5vw
    grid-column: 3/-1
    grid-row: 1/-1
    display: grid
    grid-template-rows: 4rem 4rem
    align-content: center